/* General body styles */
body {
    background-color: #000;
    color: #00f; /* Light blue text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling the select elements */
select, button {
    background-color: #333;
    border: 1px solid #555;
    color: #00f;
    padding: 8px;
    font-size: 16px;
    margin: 5px;
}

/* Styling the button */
button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    background-color: #444;
    color: #888;
}

/* Styling for the progress bar */
#progressContainer {
    margin: 20px 0;
}

#progressBar {
    background-color: #00f;
    height: 20px;
    width: 0;
    transition: width 0.5s;
}

#progressText {
    color: #00f;
}

/* Styling for generated keys */
#keyContainer {
    margin: 20px 0;
}

.key-item {
    margin: 10px 0;
}

.key-item input {
    border: 1px solid #555;
    padding: 8px;
    background-color: #222;
    color: #00f;
    width: 200px;
}

.key-item button {
    background-color: #00f;
    color: #fff;
    border: none;
    padding: 8px;
}

/* Hidden elements */
.hidden {
    display: none;
}

/* Creator's channel button */
#creatorChannelBtn {
    background-color: #00f;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 20px;
}

#creatorChannelBtn:hover {
    background-color: #0055ff;
}
